
.nav-link{
    color: dodgerblue;
}
.content3{
    margin-left: 90px;
    margin-top: 50px;
}
about-us{
    height: 600px;
    width: 45%;
}
h4{
    background-color: rgb(165, 173, 165);
    width: 105px;
}
p{
    text-align: justify;
}
.h5{
    font-size: 76px;
    text-align: left;
    font-weight: bold;
    margin-top: -30%;
}


/*----======HTML=======------------*/
.container{
    margin-top: 10%;
}
.card{
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.card:before{
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgba(0,0,0,0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(30deg);
    transform-origin: center top 6;
    transition: .5s;
}
.card:hover::before{
    left: 10%;
}
.card img{
    width: 100%;
    height: 370px;
}
.card-text{
    width: 1005;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: rgb(0, 132, 255);
    z-index: 2;
    transition: 1.1s
}
.card:hover .card-text{
    top: 150px;
    left: 120px;
}



/*--=====recent work---======*/

.card-1{
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    border: 1px solid gray;
}
.card-1:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 300%;
    background: rgba(0,0,0,0.7);
    top: -100%;
    left: -100%;
    z-index: 1;
    transform: rotate(0deg);
    transform-origin: center top 6;
    transition: .5s;
}
.card-1:hover::before{
    left: 0%;
}
.card-1 img{
    width: 100%;
    height: 350px;
}
.card-text{
    width: 100%;
    padding: 0 20px;
    left: 120px;
    position: absolute;
    top: -100%;
    color: rgb(0, 132, 255);
    z-index: 2;
    transition: 1.1s
}
.card-1:hover .card-text{
    top: 150px;
    left: 120px;
}



/*-------=======our tem------====*/

.imgs{
    height: 350px;
    margin-top: 15px;
    border-radius: 50%;
    border: 5px solid gray;
    
}


/*-------footer-=--=-=---*/

